footer p {
	margin: 0;
	background-color: #B4C2BC;
	box-shadow: 0 0 0 0.5px black, 0 0 10px rgba(0, 0, 0, 0.5);
	padding: 20px;
  	text-align: center;
  	font-size: 14px;
  	clear: both;
  	bottom: 0;
  	width: 100%;
}